*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  line-height:1.5;
  background-color:　#999999;
  color: black;
  margin: 0;
  font-weight: normal;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

header{
  margin-bottom: 10px auto;
  height: 360px;
  background-image: url(hunters-race-MYbhN8KaaEc-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

header h1{
  position: relative;
  color: white;
  line-height: 360px;
  text-align: center;
  margin: 0;
}

.header-logo h1{
  text-align: center;
  margin: 0;
  font-size: 36px;
}

.header-list{
  display: table;
  width: 100%;
  font-size: 20px;
}

.header-list a{
  display: inline-block;
  width: 50%;
  transition: all 1s;
  line-height: 30px;
  background-color: darkgray;
  color: white;
}

.header-list a:hover{
  background-color: #021E4F;
}

.left-column{
  text-align: center;
  padding: 20px 0px;
  /* background-color: blue; */

}

.right-column{
  text-align: center;
  padding: 20px 0px;
  /* background-color: pink; */
}

.main{
  display: flex;
}

.info{
    width: 20%;
      height: 60%;
    /* background-color: green; */
}

}
.photo{
  text-align: left;
}

.photo img{
  height: auto;
  width: 60%;
  padding-top: 10px;
  margin-left: 20px
}

.sentence{
  background-color: darkgray;
  word-wrap: break-word;
  padding-left: 10px;
  color: white;
  width: 80%;
}

nav{
  text-align: left;
  width: 80%;
  /* background-color: red; */
}

nav ul{
  padding-left: 0px;
}

nav li{
  background-color: darkgray;
  color: white;
  height: 40px;
  margin-bottom: 5px;
  text-align: center;
}

nav li a{
  transition: all 1s;
  display: block;
  line-height: 40px;
  color: white;
}

nav li a:hover{
  background-color: #021E4F;
}

main{
  padding: 0px 50px;
  width: 70%;
  color: gray;
}

.blog-disc {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: white;
    border-top: solid 10px darkgray;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }

.blog h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  /* background-color: red; */
  font-weight: normal;
}

.blog h2 {
  /* background-color: green; */
  font-weight: normal;
}

.blog p {
  text-justify: auto;
  /* background-color: blue; */
  margin: 0;
  padding: 0;
}

article h1{
  font-weight: normal;
}

.topic-master{
  display: flex;
  color: gray;
}

.topic{
  padding: 40px;
}

.topic img{
  width: 110%;
  height: auto;
}

.topic-disc{
  text-align: center;
}

.contact-form{
  /* background-color: pink; */
  width: 50%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}

.contact-form legend{
  font-weight: normal;
  font-size: 20px;
}

.copyright{
  text-align: center;
  font-family: times;
  color: gray;
}
